# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Flask
instance/
.webassets-cache

# Database
*.db
*.sqlite

# Environment variables
.env
.env.*

# Database connection config
config.py

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# Logs
logs/
*.log

# OS specific files
.DS_Store
Thumbs.db

# venv, add your own folder name here if you changed the name
venv/
SSD/
